.container {
    max-width: 1200px;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .container {
        max-width: 700px;
    }
    section span.data {
        font-size: 14px;
    }
}

@media (max-width: 375px) {
    .container {
        max-width: 300px;
    }
}