body {
    background: var(--dark-10);
}

main {
    box-sizing: border-box;
    padding: 40px 0px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

main section {
    box-sizing: border-box;
    width: 100%;
    background: var(--dark-20);
    border: 2px solid var(--dark-40);
    border-radius: 8px;
    padding: 40px;
    cursor: pointer;
}

main section.ativo {
    border: 2px solid var(--brand-color);
}

section span.data {
    box-sizing: border-box;
    position: relative;
    display: block;
    font-size: 16px;
    font-family: var(--inter);
    font-weight: 500;
    color: var(--brand-color);
    margin-bottom: 20px;
}

section span.data img {
    position: absolute;
    right: 0;
}

section h1.titulo {
    font-size: 24px;
    font-family: var(--space);
    font-weight: 500;
    color: #FFF;
    margin-bottom: 16px;
}

section p.paragrafo {
    font-size: 20px;
    font-family: var(--inter);
    font-weight: 500;
    color: var(--dark-50);
    line-height: 32px;
}

@media (max-width: 768px) {
    section span.data {
        font-size: 14px;
    }
    section h1.titulo {
        font-size: 20px;
    }
    section p.paragrafo {
        font-size: 16px;
        line-height: 25px;
    }
    section span.data img {
        width: 24px;
        height: 24px;
    }
}

@media (max-width: 375px) {
    section span.data {
        font-size: 12px;
    }
    section h1.titulo {
        font-size: 20px;
    }
    section p.paragrafo {
        font-size: 14px;
        line-height: 22px;
    }
    section span.data img {
        width: 17.5px;
        height: 15px;
    }
}